<section id="about" class="about section">
  <div class="container">
    <h2 class="about-title">
      about&nbsp;<span class="about-title-span">me</span>
    </h2>
    <div class="about-content about-img-decor change-them">
      <div class="about-img">
        <img
          class="benef-peach change-them"
          srcset="
            ./img/about/loid-dsk-2x-peach-min.jpg 2560w,
            ./img/about/loid-dsk-1x-peach-min.jpg 1280w,
            ./img/about/loid-tab-2x-peach-min.jpg 1536w,
            ./img/about/loid-tab-1x-peach-min.jpg  768w,
            ./img/about/loid-mob-2x-peach-min.jpg  640w,
            ./img/about/loid-mob-1x-peach-min.jpg  320w
          "
          sizes="
    (min-width: 1280px) 1280px,
    (min-width: 768px) 768px,
    (max-width: 767px) 320px
  "
          src="./img/about/loid-dsk-1x-peach-min.jpg"
          alt="Lloyd Jefferson"
        />
        <img
          class="benef-blue change-them"
          srcset="
            ./img/about/loid-dsk-2x-blue-min.jpg 2560w,
            ./img/about/loid-dsk-1x-blue-min.jpg 1280w,
            ./img/about/loid-tab-2x-blue-min.jpg 1536w,
            ./img/about/loid-tab-1x-blue-min.jpg  768w,
            ./img/about/loid-mob-2x-blue-min.jpg  640w,
            ./img/about/loid-mob-1x-blue-min.jpg  320w
          "
          sizes="
    (min-width: 1280px) 1280px,
    (min-width: 768px) 768px,
    (max-width: 767px) 320px
  "
          src="../img/about/loid-dsk-1x-blue-min.jpg"
          alt="Lloyd Jefferson"
        />
      </div>
      <div class="bio-text">
        <h3 class="about-subtitle">bio</h3>
        <p class="bio-text-item">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="bio-text-item hidden-text">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
        <button class="learn-more-button">Learn More</button>
      </div>
      <div class="education-text">
        <h3 class="about-subtitle">education</h3>
        <ul class="education-list">
          <li class="education-list-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="education-list-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="education-list-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>
      <div class="role-text">
        <h3 class="about-subtitle">role</h3>
        <ul class="role-list">
          <li class="role-list-item">Frontend development</li>
          <li class="role-list-item">HeadlessCMS, Wordpress</li>
          <li class="role-list-item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
