<footer class="section" id="contacts">
  <div class="container">
    <div class="footer-container">
      <a class="title-footer" href="./index.html" target="_blank">Lloyd<span class="text-surname">Jefferson.</span></a>
      <ul class="list-footer">
        <li class="item-footer">
          <a class="hover" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
        </li>
        <li class="item-footer">
          <a class="hover" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
        </li>
        <li class="item-footer">
          <a class="hover" href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank">LinkedIn</a>
        </li>
        <li class="item-footer">
          <a class="hover" href="https://github.com/cel3ntano/project_myResume" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
    <div class="footer-copy">
      <p class="text-footer">&#xa9; Copyright 2024. Made by LloydJefferson</p>
    </div>
  </div>
</footer>
