<footer class="footer section" id="contacts">
  <div class="container">
    <div class="footer-title-container">
      <p class="title-footer">
        Lloyd<span class="text-surname">Jefferson.</span>
      </p>
    </div>
    <div class="footer-social-networks">
      <ul class="list-footer">
        <li class="link-footer">
          <a href="https://www.instagram.com/goitclub/" target="_blank"
            >Instagram</a
          >
        </li>
        <li class="link-footer">
          <a href="https://www.facebook.com/goITclub/" target="_blank"
            >Facebook</a
          >
        </li>
        <li class="link-footer">
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li class="link-footer">
          <a
            href="https://github.com/cel3ntano/project_myResume"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
      <p class="text-footer">© Copyright 2024. Made by LloydJefferson</p>
    </div>
  </div>
</footer>
