<header class="header">
  <div class="container header-background">
    <div class="header-mobile-container">
      <h2 class="header-title">
        <a class="header-title-link" href="./index.html">
          lloyd<span class="header-surname-colored">Jefferson.</span>
        </a>
      </h2>
      <label for="theme-btn" class="theme">
        <input type="checkbox" name="switchTheme" id="theme-btn" class="visually-hidden theme-btn"
          aria-label="Theme switcher" />
        <span class="switch-theme"></span>
      </label>
      <button class="switch-open-burger active-btn" data-img="icon-open-burger" aria-label="Open menu">
        <svg class="icon icon-burger" width="32" height="32">
          <use class="inform-item-icon" href="./img/icons.svg#icon-open-burger"></use>
        </svg>
      </button>
      <button class="switch-close-burger" data-img="icon-open-burger" aria-label="Close menu">
        <svg class="icon icon-burger" width="32" height="32">
          <use class="inform-item-icon" href="./img/icons.svg#icon-close-burger"></use>
        </svg>
      </button>
    </div>
    <nav class="header-nav change-them">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#about" class="nav-link hover">About me</a>
        </li>
        <li class="nav-item">
          <a href="#project" class="nav-link hover">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#contacts" class="nav-link hover">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
  <a href="#hero" class="up-link up-link-active" aria-label="Scroll up"><svg class="icon icon-up-arrow" width="30"
      height="38">
      <use class="inform-item-icon" href="./img/icons.svg#icon-up-arrow"></use>
    </svg>
  </a>
</header>