<header class="header">
  <div class="container">
    <div class="header-mobile-container">
      <h2 class="header-title">
        <a class="header-title-link" href="#">
          lloyd<span class="header-surname-colored">Jefferson.</span>
        </a>
      </h2>
      <button class="switch-burger" data-img="icon-open-burger">
        <svg class="icon icon-burger" width="32" height="32">
          <use
            class="inform-item-icon"
            href="../img/icons.svg#icon-open-burger"
          ></use>
        </svg>
      </button>
    </div>
    <nav class="header-nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="#" class="nav-link">About me</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Projects</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- <label for="theme-btn" class="theme">
  <input
    type="checkbox"
    name="switchTheme"
    id="theme-btn"
    class="visually-hidden theme-btn"
  />
  <span class="switch-theme"></span>
</label> -->