<section class="projects section" id="projects">
  <div class="container">
    <h2 class="projects-title">my <span>projects</span></h2>
    <ul class="projects-list">
      <li class="projects-item">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Wallet Webservice" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">wallet webservice</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Green Harvest Webservice" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">green harvest webservice</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="English Excellence Webservice" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">english exellence website</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Power Pulse Webservice" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">power pulse webservice</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Vyshyvanka Vibes Landing Page" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">vyshyvanka vibes landing page</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Energy Flow Webservice" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">energy flow webservice</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Mimino Website" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">mimino website</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Chego Jewelry Website" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">chego jewelry website</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Fruitbox Online Store" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">fruitbox online store</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
      <li class="projects-item is-hidden">
        <picture>
          <source media="(max-width: 767px)" srcset="" />
          <source media="(min-width: 768px)" srcset="" />
          <source media="(min-width: 1280px)" srcset="" />
          <img class="project-img" src="" alt="Starlight Studio Landing Page" />
        </picture>
        <p class="project-text">React, JavaScript, Node JS, Git</p>
        <div class="projects-wrap">
          <div class="projects-subtitle-wrap">
            <h3 class="projects-subtitle">starlight studio landing page</h3>
          </div>
          <div class="project-link-wrap">
            <a
              class="project-link"
              href="https://github.com/cel3ntano/project_myResume"
              target="_blank"
              rel="noopener noreferrer"
              >VISIT
              <svg width="24" height="24">
                <use href="./img/icons.svg#icon-arrow-project"></use>
              </svg>
            </a>
          </div>
        </div>
      </li>
    </ul>
    <button class="project-btn" type="button">LOAD MORE</button>
  </div>
</section>
<script type="module" src="../js/projects.js"></script>
