<section class="tech-skills section">
  <div class="container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="marquee-top">
      <div class="marquee-inner">
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
      </div>
    </div>
    <!--  -->
    <div class="marquee-bottom">
      <div class="marquee-inner">
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
