<section class="tech-skills section">
  <div class="container">
    <h2 class="visually-hidden">Tech Skills</h2>
    <div class="marquee-top">
      <div class="marquee-inner">
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <img
            class="marquee-img"
            src="./img/techskills/html.png"
            alt="html"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/javascript.png"
            alt="javascript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <img
            class="marquee-img"
            src="./img/techskills/node.png"
            alt="nodejs"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/typescript.png"
            alt="typescript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <img
            class="marquee-img"
            src="./img/techskills/html.png"
            alt="html"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/javascript.png"
            alt="javascript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <img
            class="marquee-img"
            src="./img/techskills/node.png"
            alt="nodejs"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/typescript.png"
            alt="typescript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
      </div>
    </div>
    <!--  -->
    <div class="marquee-bottom">
      <div class="marquee-inner">
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <img
            class="marquee-img"
            src="./img/techskills/css.png"
            alt="css"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/javascript.png"
            alt="javascript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <img
            class="marquee-img"
            src="./img/techskills/node.png"
            alt="nodejs"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/typescript.png"
            alt="typescript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
        <p class="marquee-line">
          <span class="marquee-item">HTML/CSS</span>
          <img
            class="marquee-img"
            src="./img/techskills/css.png"
            alt="css"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">JavaScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/javascript.png"
            alt="javascript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">Node.js</span>
          <img
            class="marquee-img"
            src="./img/techskills/node.png"
            alt="nodejs"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">React Native</span>
          <img
            class="marquee-img"
            src="./img/techskills/react.png"
            alt="react"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
          <span class="marquee-item">TypeScript</span>
          <img
            class="marquee-img"
            src="./img/techskills/typescript.png"
            alt="typescript"
            width="48"
          />
          <span class="separator-container">
            <span class="separator"></span>
          </span>
        </p>
      </div>
    </div>
  </div>
</section>
