.benefits-title {
  font-family: Impact;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.benefits-decor-img {
  display: none;
}

.benefits-span-title {
  color: var(--Accent-green);
}

.benefits-subtitle {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

li > .benefits-text {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}

li > .text-last {
  margin-bottom: 0px;
}

.benefits-wrap-icon {
  display: flex;
  width: 48px;
  height: 48px;
  padding: 12px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: rgba(0, 176, 104, 0.1);
  margin-bottom: 16px;
}

.benefits-icon {
  stroke: var(--Accent-green);
  fill: transparent;
}

/* ================= */

@media screen and (min-width: 768px) {
  .benefits-title {
    font-size: 108px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    margin-bottom: 0px;
  }

  li > .benefits-text {
    margin-bottom: 0;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-item {
    width: 336px;
  }

  .flex-item {
    margin-left: auto;
  }

  .flex-wraper {
    flex-basis: 100%;
  }
}

/* ================================ */
@media screen and (min-width: 1280px) {
  .benefits-title {
    max-width: 682px;
  }

  .benefits-decor-img {
    height: auto;
    filter: blur(3.70084285736084px);
    display: block;
    position: absolute;
    top: -123px;
    right: 32px;
    margin-bottom: 16px;
  }
  .benefits-list {
    margin-top: -96px;
  }

  .benefits-item {
    width: 384px;
  }

  li > .benefits-text {
    margin-bottom: 0;
  }

  .flex-wrap {
    position: relative;
  }
}
