.faq-title {
    color: var(--Black);
    font-family: Impact;
    font-size: 52px;
    line-height: 1.23;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        font-size: 108px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1280px) {
        width: 520px;
    }
}

.faq-title-span {
    color: var(--Accent-primary);
}

@media screen and (min-width:1280px) {
    .faq-list {
        margin-left: 40px;
    }

    .faq .container {
        position: relative;
        display: flex;
    }

    .background {
        background: url(../img/faq/faq-peach.png), var(--White);
        background-size: 526px 408px;
        background-repeat: no-repeat;
        background-position: 32px 430px;
    }

    .background.change-them {
        background: url(../img/faq/faq-blue.png), var(--White);
        background-size: 526px 408px;
        background-repeat: no-repeat;
        background-position: 32px 430px;
    }

}

.faq-list-item.open {
    background: var(--Accent-secondary);
}

.accordion-list {
    .ac {
        display: flex;
        padding: 48px 24px 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
        border-radius: 16px;
        background-color: var(--White);
        transition: background 0.25s ease;
        margin-top: 0;
        border: none;

        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: calc(100% - 32px);
            height: 1px;
            background: #ccc;
        }

        .ac-trigger {
            color: var(--Black);
            font: bold 20px 'Poppins', sans-serif;
            font-weight: 400;
            display: flex;
            font-size: 20px;
            font-weight: 400;
            gap: 16px;
            line-height: 1.55;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            padding: 0;

            &:focus {
                color: currentColor;
            }

            @media screen and (min-width: 768px) {
                letter-spacing: 0.025em;
            }

            @media screen and (min-width: 768px) {
                width: 488px;
            }
        }


    }

    .faq-list-item {
        display: flex;
        position: relative;

        .icon-button-faq-down,
        .icon-button-faq-up {
            position: absolute;
            top: 48px;
            right: 24px;
        }

        .icon-button-faq-down use,
        .icon-button-faq-up use {
            stroke: var(--Black);
            fill: transparent;
        }

        .icon-button-faq-down {
            display: none;
        }

        .icon-button-faq-up {
            display: none;
        }

        .open {
            display: block;
        }
    }

    .ac.is-active>.ac-header .ac-trigger::after {
        content: "";
    }

    .ac .ac-trigger::after {
        content: "";
    }

    .ac .ac-panel .ac-text {
        color: var(--Black);
        font: bold 16px 'Poppins', sans-serif;
        font-weight: 300;
        letter-spacing: 0.03em;
        padding: 0;
    }
}