footer.section {
  padding: 40px 0 24px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 40px;
}

.title-footer {
  color: var(--Black);
  font-family: Impact;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.text-surname {
  color: var(--Accent-primary);
}

.list-footer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item-footer {
  color: var(--Black);
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

.footer-copy {
  width: 198px;
  margin: 0 auto;
}

.text-footer {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 768px) {
  .list-footer {
    flex-direction: row;
    gap: 40px;
  }

  .footer-copy {
    width: 352px;
    margin: 0 0 0 auto;
  }

  .text-footer {
    text-align: center;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.5px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .list-footer {
    flex-direction: row;
    gap: 40px;
  }

  .footer-copy {
    width: 352px;
    margin: 0 0 0 auto;
  }
}
