.header > .container {
  z-index: 999;
  text-align: center;
  position: fixed;
  max-width: 100%;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--White);
}

.container.header-background {
  background: transparent;
}

.header-mobile-container {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-open-burger {
  /* animation-duration: 250ms; */
  background: none;
  stroke: var(--White);
  text-align: center;
  border: none;
  display: none;
  align-items: center;
}

.switch-close-burger {
  background: none;
  /* animation-duration: 250ms; */
  stroke: var(--White);
  text-align: center;
  border: none;
  display: none;
  align-items: center;
}

.active-btn {
  display: flex;
}

.icon-burger {
  stroke: var(--Black);
}

.header-title {
  font-family: Impact;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 0.094rem;
}

.header-surname-colored {
  color: var(--Accent-primary);
}

.header-nav {
  display: none;
  height: 100vh;
  background: url(../img/header/dark-burger-them.png), var(--White);
  background-repeat: no-repeat;
}

.header-nav.change-them {
  background: url(../img/header/light-burger-them.png), var(--White);
}

.active-nav {
  display: flex;
}

.nav-list {
  margin: 0 auto;
  margin-top: 260px;
}

.nav-item {
  color: var(--Black);
  text-align: center;
}

.nav-item:not(:last-of-type) {
  margin-bottom: 24px;
}

.nav-link {
  font-weight: 300;
  line-height: 1.5rem;
}

.theme {
  position: relative;
  display: inline-block;
  padding: 2px;
  width: 48px;
  height: 24px;
}

.switch-theme {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 24px;
  background-color: var(--Accent-tertiary);
  border-radius: 12px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.switch-theme::after {
  position: absolute;
  content: '';
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--Accent-primary);
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.edit-circle::before {
  display: none;
  position: absolute;
  content: '';
  top: 2px;
  bottom: 2px;
  left: 13px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--Accent-tertiary);
  z-index: 999;
}

.theme-btn:checked + .switch-theme::after {
  transition: all 750ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(20px);
}

.section-up-link {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding-left: 10px;
  padding-right: 10px;
  max-width: 360px;
  width: 100%;
  bottom: 65px;
  z-index: 9999;
  display: none;
  justify-content: right;
}

.icon-up-arrow {
  fill: var(--Arrow-fill);
}

.up-link {
  text-align: center;
  display: none;
  width: 44px;
  height: 44px;
  border-radius: 12px;
  backdrop-filter: blur(5px);
  border: 3px solid var(--Arrow-border);
  box-shadow: 3px 4px 4px var(--Arrow-shadow);
}

.up-link-active {
  display: block;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 144dpi),
  (min-resolution: 2dppx) {
  .header-nav {
    background: url(../img/header/dark-burger-them-x2.png), var(--White);
    background-size: 332px 704px;
    background-repeat: no-repeat;
  }

  .header-nav.change-them {
    background: url(../img/header/light-burger-them-x2.png), var(--White);
    background-size: 332px 704px;
  }
}

@media screen and (min-width: 600px) {
  .nav-list {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .header > .container {
    max-width: 768px;
    padding: 36px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-title {
    font-size: 32px;
  }

  .header-mobile-container {
    padding: 0;
    display: flex;
  }

  .switch-open-burger {
    display: none;
  }

  .switch-close-burger {
    display: none;
  }

  .header-nav {
    display: block;
    height: auto;
    background: none;
  }

  .header-nav.change-them {
    background: none;
  }

  .nav-list {
    margin: 0;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .nav-item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .theme {
    margin-left: 30px;
  }

  .section-up-link {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 38px;
  }

  .up-link {
    transform: translateX(30px);
  }
}

@media screen and (min-width: 1280px) {
  .header > .container,
  .section-up-link {
    max-width: 1280px;
  }
}
