@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./tech_skills.css');
@import url('./projects.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work_together.css');
@import url('./footer.css');

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: Poppins, Montserrat, Impact, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --Back-color: #f0f0f0;
  --Text-color: #292929;

  --Accent-primary: #286099;
  --Accent-secondary: #bccbdf;
  --Accent-tertiary: #e4e5e6;
  --Accent-quaternary: rgba(0, 109, 176, 0.1); /* benefits icons bg */

  --Error: #e74a3b;

  --Accent-hover: #006191; /* buttons bg */
  --Accent-hover-secondary: rgba(0, 106, 176, 0.3); /* hero */
  --Accent-hover-tertiary: rgba(0, 126, 176, 0.6); /* hero */
  --Accent-hover-quaternary: #bbbbbb; /* projects */

  --Button: rgba(41, 41, 41, 0.3);
  --Button-disabled: rgba(41, 41, 41, 0.1); /* reviews */
  --Arrow-disabled: #cccccc; /* reviews */

  /* header */
  --Arrow-fill: #0550ff;
  --Arrow-border: #0863ffe1;
  --Arrow-shadow: #0069d2c7;

  --accent-1: #00b068;
  --accent-2: #289990;
  --accent-3: #286099;
  --accent-4: #603799;
  --accent-5: #a13997;
  --accent-6: #de4f69;

  color: var(--Text-color);
  background: var(--Back-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all 0.5s ease;

  /* body {
    background: var(--Back-color);
    transition: background 0.2s ease;
  } */
}

.dark-theme {
  --Text-color: #f0f0f0;
  --Back-color: #1e2023;

  --Accent-primary: #f75462;
  --Accent-secondary: #412030;
  --Accent-tertiary: #322a2b;
  --Accent-quaternary: rgba(197, 20, 88, 0.1); /* benefits icons bg */

  --Error: #e8596c;

  --Accent-hover: #910035; /* buttons bg */
  --Accent-hover-secondary: rgba(197, 20, 88, 0.331); /* hero */
  --Accent-hover-tertiary: rgba(197, 20, 64, 0.6); /* hero */
  --Accent-hover-quaternary: #453b3f; /* projects */

  /* header */
  --Arrow-fill: #ff464c;
  --Arrow-border: #ff677e;
  --Arrow-shadow: #ff4063db;

  --Button: #3d3034;
  --Button-disabled: #322a2e; /* reviews */
  --Arrow-disabled: #3d383a; /* reviews */

  --accent-1: #0e1311;
  --accent-2: #26bdb0;
  --accent-3: #378ee5;
  --accent-4: #925ae0;
  --accent-5: #c156d6;
  --accent-6: #f7546d;

  color: var(--Text-color);
  background: var(--Back-color);

  /* body {
    background: var(--Back-color);
  } */
}

body {
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.section {
  padding-top: 80px;
}

.container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

.toggle-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 124px;
  }

  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding-top: 164px;
  }

  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}
