@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./tech_skills.css');
@import url('./projects.css');
@import url('./benefits.css');
@import url('./faq.css');
@import url('./reviews.css');
@import url('./work_together.css');
@import url('./footer.css');

@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-family: Poppins, Montserrat, Impact, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --White: #f0f0f0;
  --Black: #292929;
  --Error: #e74a3b;
  --Accent-hover: #009156; /* buttons bg */
  --Accent-hover-secondary: rgba(0, 176, 103, 0.3); /* hero */
  --Accent-hover-tertiary: rgba(0, 176, 103, 0.6); /* hero */
  --Accent-hover-quaternary: #bbb; /* projects */

  --Accent-quaternary: rgba(0, 176, 104, 0.1); /* benefits icons bg */
  --Accent-tertiary: #e4e5e6;
  --Accent-secondary: #bcdfd1;
  --Accent-primary: #00b068;

  --Button: rgba(41, 41, 41, 0.3);
  --Button-disabled: rgba(41, 41, 41, 0.1); /* reviews */
  --Arrow-disabled: #cccccc; /* reviews */

  --accent-1: #00b068;
  --accent-2: #289990;
  --accent-3: #286099;
  --accent-4: #603799;
  --accent-5: #a13997;
  --accent-6: #de4f69;

  color: var(--Black);
  background-color: var(--White);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  transition: all 0.3s ease;
}

.dark-theme {
  --Black: #f0f0f0;
  --White: #1e2023;
  --Error: #f05748;
  --Accent-hover: #009156; /* buttons bg */
  --Accent-hover-secondary: rgba(20, 197, 124, 0.3); /* hero */
  --Accent-hover-tertiary: rgba(20, 197, 124, 0.6); /* hero */
  --Accent-hover-quaternary: #3b3f45; /* projects */

  --Accent-quaternary: rgba(20, 197, 124, 0.1); /* benefits icons bg */
  --Accent-tertiary: #2a2d32;
  --Accent-secondary: #204136;
  --Accent-primary: #14c57c;

  --Button: #2a2d32;
  --Button-disabled: #2a2d32; /* reviews */
  --Arrow-disabled: #383a3d; /* reviews */

  --accent-1: #0e1311;
  --accent-2: #26bdb0;
  --accent-3: #378ee5;
  --accent-4: #925ae0;
  --accent-5: #c156d6;
  --accent-6: #f7546d;

  color: var(--Black);
  background-color: var(--White);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 80px 0;
}
.container {
  max-width: 360px;
  padding: 0 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 124px 0;
  }

  .container {
    max-width: 768px;
    padding: 0px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 164px 0;
  }

  .container {
    max-width: 1280px;
    padding: 0 32px;
  }
}
