.tech-skills.section {
  /* padding: 0; */
}

.tech-skills .container {
  padding: 0;
}

.marquee-top {
  position: relative;
  z-index: 1;
  font-size: 32px;
  overflow: hidden;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.016em;
  text-transform: uppercase;
  color: var(--Text-color);
  background-color: var(--Accent-secondary);
}

.marquee-bottom {
  font-size: 32px;
  overflow: hidden;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.016em;
  text-transform: uppercase;
  transform: rotate(2deg);
  color: var(--Accent-primary);
  background-color: var(--Accent-tertiary);
}

.marquee-inner {
  display: flex;
}

.marquee-line {
  margin: 0;
  flex-shrink: 0;
  padding: 32px 0;
  display: flex;
  white-space: nowrap;
  animation-duration: 15s;
  animation-name: marqueeLine;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.marquee-bottom .marquee-line {
  animation-duration: 12s;
}

.marquee-item {
  display: flex;
  align-items: center;
}

.marquee-img {
  /* margin-left: 12px; */
  margin: 0 12px;
}

.separator-container {
  margin: 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none; /* test */
}

.separator {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--Accent-primary);
}

.marquee-bottom .separator {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background-color: var(--Text-color);
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  .marquee-top {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.014em;
  }
  .marquee-line {
    padding: 40px 0;
  }

  .marquee-bottom {
    font-size: 36px;
    line-height: 1.33;
    letter-spacing: 0.014em;
  }
  .marquee-bottom .marquee-line {
    padding: 40px 0;
  }
}
