.work-together-div {
  color: var(--Black, #292929);
  font-family: Impact;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 40px;
}

.work-together span {
  color: var(--Accent-primary);
}

.description {
  text-align: left;
  color: var(--Black, #292929);
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.contact-info {
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* 
.contact-form {
  position: relative;
} */

.work-together .container {
  position: relative;
}

.contact-form-list {
  color: var(--Black, #292929);
  transition: background-color 0.3s;
  transition: color 0.3s;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
  display: flex;
}

.contact-info .contact-form-list-link {
  color: var(--Black, #292929);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  transition: color 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-icon {
  margin-right: 16px;
  fill: none;
  stroke: var(--Accent-primary);
}

.order-form {
  display: flex;
  flex-direction: column;
}

.contact-form-item {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.container-input-form {
  margin-bottom: 27px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
}

.order-input {
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--Accent-tertiary);
  box-sizing: border-box;
  width: 100%;
  color: var(--Black, #292929);
}

.order-input::placeholder {
  color: Accent-tertiary;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 16px;
  border: 1px solid transparent;
  border-radius: 8px;
  background: var(--Accent-tertiary);
  color: var(--Black, #292929);
}

.textarea::placeholder {
  color: Accent-tertiary;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.order-input:focus,
.textarea:focus {
  outline: none;
}

textarea {
  resize: vertical;
}

button[type='submit'] {
  width: 100%;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: var(--Accent-primary);
  color: #f0f0f0;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type='submit']:hover {
  background-color: var(--Accent-hover);
}

.contact-form-list-link:hover {
  color: var(--Accent-hover);
}

.email-input-wrapper {
  position: relative;
  width: 100%;
}

.valid-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  fill: var(--Accent-primary);
  /* z-index: 0; */
}

.order-input.invalid,
.textarea.invalid {
  border-color: red;
  color: var(--Black, #292929);
}

.order-input.valid,
.textarea.valid {
  border-color: green;
  color: var(--Black, #292929);
}

.order-input.valid ~ .valid-icon {
  display: block;
}

.error-message-wrapper {
  position: relative;
  width: 100%;
}

.error-message {
  color: red;
  font-size: 12px;
  display: none;
  position: absolute;
  top: 95%;
  margin-top: 3px;
}

/* modal */

.modal-work {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
  height: 328px;
  padding: 48px 32px;
  background-color: var(--White);
  border: 1px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  position: relative;
}

.modal-work-text {
  margin: 0 0 16px 0;
  text-align: center;
  color: var(--Accent-primary);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.025em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.modal-work-text-p {
  color: var(--Black, #292929);
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.025em;
}

.close-modal-work {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-icon-work {
  fill: var(--Black, #292929);
  stroke: var(--Black, #292929);
}

.body-no-scroll {
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .work-together-div {
    font-size: 108px;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: 1.8px;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .description {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    width: 488px;
  }

  .contact-info .contact-form-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-info {
    margin-bottom: 60px;
  }

  button[type='submit'] {
    width: 173px;
  }

  .work-together {
    position: relative;
    width: 100%;
    height: 0%;
    background-color: var(--White #f0f0f0);
  }

  #work-together .decor-bg {
    position: absolute;
    width: 336px;
    height: 266px;
    /* top: 15px;
    right: 20px; */
    top: -104px;
    right: 21px;
    z-index: 0;
    background-image: url(/img/work_together/work-peach-tab.png);
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #work-together .decor-bg {
      background-image: url(/img/work_together/work-peach-tab-2x.png);
    }
  }

  #work-together .decor-bg.change-them {
    background-color: transparent;
    background-image: url(/img/work_together/work-blue-tab.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #work-together .decor-bg.change-them {
      background-image: url(/img/work_together/work-blue-tab-2x.png);
    }
  }

  /* modal */

  .modal-content-work {
    width: 492px;
    height: 280px;
    padding: 64px;
  }

  .modal-work-text-p {
    width: 350px;
  }

  .close-modal-work {
    top: 20px;
    right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .work-together-div {
    width: 550px;
    margin-bottom: 80px;
  }

  .description {
    margin-bottom: 120px;
  }

  .contact-form-item {
    display: block;
  }

  .contact-info .contact-form-list-link {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .flex1280 {
    display: flex;
    justify-content: space-between;
  }

  .content-contact {
    display: flex;
    flex-direction: column;
  }

  .contact-info {
    margin-bottom: 0%;
  }

  .contact-form-list {
    display: flex;
  }

  .contact-form-list:not(:last-child) {
    margin-bottom: 16px;
  }

  .orrder-form {
    min-width: 596px;
  }

  #work-together .decor-bg {
    position: absolute;
    width: 536px;
    height: 416px;
    top: -144px;
    right: 0px;
    z-index: 0;
    background-image: url(/img/work_together/work-peach-main.png);
    background-size: cover;
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #work-together .decor-bg {
      background-image: url(/img/work_together/work-peach-main-2x.png);
    }
  }

  #work-together .decor-bg.change-them {
    background-color: transparent;
    background-image: url(/img/work_together/work-blue-main.png);
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    #work-together .decor-bg.change-them {
      background-image: url(/img/work_together/work-blue-main-2x.png);
    }
  }
}
